Repository Rose-Hacks/rosehack-portal, pull requests merged in 2022-12, with the labels that each got.

#5 Login
  .eslintrc.json
  .gitignore
  components/data/register.tsx
  firebase.js
  package-lock.json
  package.json
  pages/_document.tsx
  pages/api/getTeam.ts
  pages/api/getUser.ts
  pages/api/leaveTeam.ts
  pages/api/newTeam.ts
  pages/api/renameTeam.ts
  pages/api/updateTeam.ts
  pages/api/verifyTeam.ts
  pages/dashboard.tsx
  pages/index.tsx
  styles/Home.module.css
  tailwind.config.js
Labels: LOGIN, DASHBOARD

#6 Cleanup
  .eslintrc.json
  cloudbuild.yaml
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/api/hello.ts
  pages/dashboard.tsx
  tailwind.config.js
Labels: READY TO REVIEW, REPOSITORY

#10 General Cleanup
  pages/_app.tsx
  pages/_document.tsx
  public/robots.txt
Labels: READY TO REVIEW

#11 add nav bar
  components/Navigation.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/dashboard.tsx
Labels: NAV
